In [1]:
import pandas as pd 

df = pd.read_csv("./50K_VIP_WiderFormat.csv")

/var/folders/3p/8hc9c44s38j902ytq253kt6m0000gn/T/ipykernel_7615/4008536721.py:3: DtypeWarning: Columns (3293,3304,3305,3306,3811,3812,3813,3814,3815,3816) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./50K_VIP_WiderFormat.csv")

,발급회원번호,남녀구분코드_07,남녀구분코드_08,남녀구분코드_09,남녀구분코드_10,남녀구분코드_11,남녀구분코드_12,연령_07,연령_08,연령_09,...,혜택수혜율_R3M_09,혜택수혜율_R3M_10,혜택수혜율_R3M_11,혜택수혜율_R3M_12,혜택수혜율_B0M_07,혜택수혜율_B0M_08,혜택수혜율_B0M_09,혜택수혜율_B0M_10,혜택수혜율_B0M_11,혜택수혜율_B0M_12
0,SYN_100022,1,1,1,1,1,1,30대,30대,30대,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,SYN_1000502,1,1,1,1,1,1,60대,60대,60대,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,SYN_1000924,1,1,1,1,1,1,40대,40대,40대,...,1.201645,1.905175,1.777966,1.435725,1.747690,2.785670,2.724771,1.103773,2.390778,1.239013
3,SYN_1001012,2,2,2,2,2,2,30대,30대,30대,...,3.125902,2.329540,2.694161,2.960395,3.144258,2.945304,2.686417,3.191364,3.027355,3.451466
4,SYN_1001025,1,1,1,1,1,1,50대,50대,50대,...,1.132257,1.559776,0.909197,1.360722,1.279682,0.453615,2.174966,1.673895,2.314231,1.322371