In [32]:
import pandas as pd 

df1 = pd.read_csv("../12.17/1cha_VIP_300k_59364_73.csv")

In [33]:
df1.columns

Index(['기준년월', '발급회원번호', 'VIP등급코드', '입회일자_신용', '입회경과개월수_신용', '탈회횟수_누적',
       '최종탈회후경과월', '유효카드수_신용', '이용카드수_신용', '_2순위카드이용건수', '최종유효년월_신용_이용가능',
       '최종유효년월_신용_이용', '최종카드발급일자', '최초한도금액', '카드이용한도금액', 'CA한도금액', 'CA이자율_할인전',
       'RV현금서비스이자율_할인전', 'RV신청일자', 'RV약정청구율', '한도증액금액_R12M', '상향가능한도금액',
       '최종이용일자_신판', '최종이용일자_카드론', '이용금액_신용_R12M', '이용금액_할부_무이자_R12M',
       '최대이용금액_신판_R12M', '최대이용금액_일시불_R12M', '이용금액_요식', '이용금액_교통', '이용금액_납부',
       '이용금액_일상생활', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '교통_주유이용금액', '납부_통신비이용금액',
       '납부_기타이용금액', '_1순위쇼핑업종_이용금액', '_3순위교통업종_이용금액', '_1순위납부업종_이용금액',
       '_2순위납부업종_이용금액', '할부금액_6M_R12M', '할부금액_무이자_6M_R12M', 'RP건수_B0M',
       'RP금액_B0M', '카드론이용건수_누적', '최종카드론_대출이율', '이용금액_온라인_R6M', '이용금액_오프라인_R6M',
       '정상입금원금_B0M', '연체입금원금_B0M', '연체입금원금_B2M', '정상입금원금_B5M',
       '포인트_마일리지_월적립_B0M', '포인트_적립포인트_R3M', '포인트_이용포인트_R12M', '선결제건수_R3M',
       '잔액_B0M', '잔액_할부_B0M', '평잔_3M', '평잔_6M', '평잔_일시불_해외_6M',
       '방문후경과월_PC_R6M', '당사멤버쉽_방문월수_R6M', '증감율_이용건수_일시불_전월', '증감율_이용건수_체크_전월',
       '증감율_이용금액_신판_전월', '증감율_이용건수_체크_분기', '잔액_신판ca평균한도소진율_r6m',
       '잔액_신판ca평균한도소진율_r3m', '변동률_할부평잔', '혜택수혜율_R3M', '혜택수혜율_B0M'],
      dtype='object')

In [34]:
df2 = pd.read_csv("혜민_300k_vip_59364.csv")

In [35]:
df2

,발급회원번호,이용금액_신용_B0M,잔액_B0M,이용건수_신용_B0M,기준년월,Slope_Spend,Slope_Balance,Slope_Count,Churn_Score
0,SYN_100022,480339,2181686,19,201807,28027.771429,315487.257143,0.771429,0.0
1,SYN_100022,521058,3063815,14,201808,28027.771429,315487.257143,0.771429,0.0
2,SYN_100022,468354,3065152,17,201809,28027.771429,315487.257143,0.771429,0.0
3,SYN_100022,464798,3428337,15,201810,28027.771429,315487.257143,0.771429,0.0
4,SYN_100022,563454,3766338,22,201811,28027.771429,315487.257143,0.771429,0.0
...,...,...,...,...,...,...,...,...,...
59359,SYN_999752,1888354,2785555,48,201808,-10254.714286,217515.057143,1.400000,1.0
59360,SYN_999752,2060529,2633800,54,201809,-10254.714286,217515.057143,1.400000,1.0
59361,SYN_999752,2024722,3288909,53,201810,-10254.714286,217515.057143,1.400000,1.0
59362,SYN_999752,1877693,4136961,58,201811,-10254.714286,217515.057143,1.400000,1.0
59363,SYN_999752,1887120,2658141,57,201812,-10254.714286,217515.057143,1.400000,1.0

In [36]:
df_merged = pd.merge(df1, df2, on=['발급회원번호', '기준년월', '잔액_B0M'], how='inner')

# 4. 병합된 결과를 새로운 CSV 파일로 저장
df_merged.to_csv('1cha_상림_VIP_merge_data.csv', index=False, encoding='utf-8-sig')

print(f"병합 완료! 파일명: 1cha_상림_VIP_merge_data.csv / 전체 행 수: {len(df_merged)}")

병합 완료! 파일명: 1cha_상림_VIP_merge_data.csv / 전체 행 수: 59364