In [1]:
import pandas as pd
df = pd.read_csv("./데이터/general_customers_all.csv")

/var/folders/3p/8hc9c44s38j902ytq253kt6m0000gn/T/ipykernel_2644/2752336668.py:2: DtypeWarning: Columns (254) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./데이터/general_customers_all.csv")

In [2]:
df.head()

,기준년월,발급회원번호,증감율_이용건수_신용_전월,증감율_이용건수_신판_전월,증감율_이용건수_일시불_전월,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용건수_체크_전월,증감율_이용건수_카드론_전월,증감율_이용금액_신용_전월,...,할인금액_제휴연회비_B0M,청구금액_기본연회비_B0M,청구금액_제휴연회비_B0M,상품관련면제카드수_B0M,임직원면제카드수_B0M,우수회원면제카드수_B0M,기타면제카드수_B0M,카드신청건수,Life_Stage,최종카드발급경과월
0,201807,SYN_1,-0.511809,-0.511809,-0.511809,0.0,0.0,0.0,0.0,-1.010819,...,0,0,0,0,0,0,0,0,4.자녀성장기(1),18
1,201807,SYN_10,-0.333723,-0.333723,-0.333723,0.0,0.0,0.0,0.0,-0.917063,...,0,0,0,0,0,0,0,0,6.자녀출가기,20
2,201807,SYN_100,-0.465240,-0.465240,-0.465240,0.0,0.0,0.0,0.0,-0.996904,...,0,0,0,0,0,0,0,0,4.자녀성장기(1),18
3,201807,SYN_1001,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000002,...,0,0,0,0,0,0,0,0,4.자녀성장기(1),24
4,201807,SYN_1002,0.063282,0.063282,0.124133,-2.0,0.0,0.0,0.0,0.233949,...,0,0,0,0,0,0,0,1,5.자녀성장기(2),0

In [3]:
len(df)

48540